table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td 
{
  padding: 10px;
  text-align: center;
}

.side-content 
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 20px;
}

.side-content button 
{
  margin-top: 20px;
}

.weekend
{
  background-color: darkgrey;
}

.added 
{
  background-color: rgb(4, 185, 22);
  color: white;
}
.added2 
{
  background-color: purple;
  color: white;
}
.added3
{
  background-color: pink;
  color: white;
}

.selected 
{
  background-color: blue;
  color: white;
}

.typeBar
{
  float:right;
  margin-right: 75%;
}

.square 
{
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 10px;
}

.square2 
{
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 10px;
}

.square3 
{
  height: 50px;
  width: 50px;
  background-color: pink;
  border-radius: 10px;
}

.table-container {
  white-space: nowrap; 
  background-color: rgb(230, 230, 230);
  border-radius: 15px;
  padding: 20px;
  border: 2px solid black;
}
.table-container table {
  display: inline-block; 
  vertical-align: top; 
  margin-right: 10px; 
}
.prev-month
{
  background-color:gray;
  color: black;
}
.req-day
{
  background-color:bisque;
  color: black;
}
.req-Acpt-day
{
  background-color:green;
  color: white;
}

#selection
{
  padding-top: 0px;
}

p{
  margin: 0;
}

.table-container{
  float: left;
  margin-right: 50px;
}

table{
  margin-bottom: 30px;
  
}

.loading{
  width: 60px;
}

#errorMsg
{
  color:red;
  visibility: hidden;
}

#btn
{
  border: none;
  background-color: rgb(230, 230, 230);
}

#scsMsg
{
  visibility: hidden;
  color:darkgreen;
}
#floBtn ,#floBtnB
{
  float: right;
}
#errorCredit
{
  color:lightsalmon;
  visibility: hidden;
}