.btn1
{
  padding: 2px;
  margin: 4px;
  margin-top: 0;
  color: white;
  border: 1px solid white;
}
#cal_btns
{
  display: flex;
}

#calendar
{
  background-color: whitesmoke;
  
  width: auto;
}

table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
  
}

th, td 
{
  padding: 10px;
  text-align: center;
}

.side-content 
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 20px;
}

.side-content button 
{
  margin-top: 20px;
}

.weekend
{
  background-color: darkgrey;
}

.added 
{
  background-color: rgb(4, 185, 22);
  color: white;
}
.added2 
{
  background-color: purple;
  color: white;
}
.added3
{
  background-color: pink;
  color: white;
}

.selected 
{
  background-color: blue;
  color: white;
}

.typeBar
{
  float:right;
  margin-right: 75%;
}

.square 
{
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 10px;
  color: white;
  padding-top: 12px;
  border: solid black 1px;
}

.square2 
{
  height: 50px;
  width: 50px;
  background-color: purple;
  border-radius: 10px;
  color: white;
  padding-top: 12px;
  border: solid black 1px;
}

.square3 
{
  height: 50px;
  width: 50px;
  background-color: pink;
  border-radius: 10px;
  border: solid black 1px;
}

.table-container {
  white-space: nowrap; 
  
  border-radius: 15px;
  padding: 20px;
  border: 2px solid gray;
}
.table-container table {
  display: inline-block; 
  vertical-align: top; 
  margin-right: 10px; 
}
.prev-month
{
  background-color:gray;
  color: black;
}
.req-day
{
  background-color:bisque;
  color: black;
}
.req-Acpt-day
{
  background-color:green;
  color: white;
}

#selection
{
  padding-top: 0px;
  border: none;
}

p{
  margin: 0;
}

.table-container{
  float: left;
  margin-right: 50px;
}

table{
  margin-bottom: 30px;
  
}

.loading{
  width: 60px;
}

#errorMsg
{
  color:red;
  visibility: hidden;
}

#btn
{
  border: none;
  
}

#scsMsg
{
  visibility: hidden;
  color:darkgreen;
}

#errorCredit
{
  color:lightsalmon;
  visibility: hidden;
}
#label
{
  visibility: hidden;
}

#selectionTable
{
  border: none;
}

h1, p
{
  color: white;
}

#div-right input
{
  margin-top: 20px;
  color: black;
  display: block;
  padding: 30px;
}

#myFile, #myFile1, #people, #reason, #reason1
{
  visibility: hidden;
}

#myFile1{
  background-color: gray; /* Green */
  color: #ffffff; /* White */
  padding: 10px 20px; /* Add some padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some curvature */
  cursor: pointer; /* Change cursor shape on hover */
}

#myFile1:hover {
  background-color: black; /* Darker green on hover */
}

#myFile
{
  background-color: white;
  border-radius: 5px;
}

#reason1
{
  color: white;
}

#people
{
  
}