.container{
    float: left;
    width: 80%;
    background-color: purple;
    margin: auto 10%;
    border: 1px solid black;

}

.row{
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;


}
.row div{
    background-color: lightgrey;
    border-right: 1px solid grey;
    

}
.heading{
   
    
}
.heading div{
    border-right: 1px solid black;
    background-color: darkgrey;
    font-size: large;
    font-weight: 550;
}
.column{
    

}
.col_1{
    width: 5%;
}
.col_2{
    width: 15%;
}
.col_3{
    width: 33%;
}
.col_4{
    width: 8%;
}
.col_5{
    width: 9%;
}
.col_6{
    width: 6%;
}
.col_7{
    width: 7%;
}
.col_8{
    width: 8%;
}
.col_9{
    width: 9%;
}





.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 10px;
}
.btn:hover {
    background-color: RoyalBlue;
}