body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table {
    background-color: lightblue;
    border-collapse: collapse;
    width: 50%;
    table-layout: auto;
    width: max-content;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2b3db6;
    color: white;
    
}

th a {
    text-decoration: none;
    color: white;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    height: 40px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2b3db6;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #0f1b68;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.reset-button {
    text-decoration: none;
    height: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #2b3db6;
    color: white;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #0f1b68;
}

.row {
    display: flex;
    justify-content: space-between;
    
}