/*SLIDESHOW*/
#slideshow
{
    height: 300px;
    padding: 10px;
    position: relative;
    width: 500px;    
}
#slideshow > div
{
    position: absolute;
}
.slideImage
{
    border-radius: 40px;
    height: auto;
    width: 100%;
}