.requests{
    padding: 20px;
    width: fit-content;

}

.accept{
    background-color: green;
    color: white;
}

.reject{
    background-color: red;
    color: white;
}

table {
    border-collapse: collapse;
    min-width: max-content;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: white;
}

.legend{
    background-color: white;
    width: 50%;
    padding: 20px;
}

.col-10{
    margin: auto;
}

#chart {
    float: right;
    padding: 30px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}
.requests {
    /* background-color: white; */
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.holiday-overview {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.employee-table th {
    width: 120px;
}