.navbar{
    background-color: #5e5c6c;
    color: white;
    height: 70px;
    font-size: 18px;
}

.nav-item a{
    color: white;
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.collapse{
    margin-left: 380px;
}