/*the whole page*/
.body{
    background-color: #C1BDB3;
}


/*postitioning the contents of the container using flex*/
.container-trui{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 0px 70px;
}

/*sizing the image*/
.profile-image{
    width: 100px;
    border-radius: 100%;
    padding-top: 20px;
}

.top{
    background-color:rgb(188, 186, 186);
}

/*adjusting the div that contains the image*/
.profile-card{
    text-align: center;
    padding: 10px;
    background-color: white;
    width: 23%;
}

.details{
    padding: 10px 20px;
    width: 700px;
}

/*operations on the salary box*/
.salary{
    width: 250px;
    padding: 10px;
    height: 170px;
    box-shadow: 2px 2px 2px;
    background-color: white;
}

.right-side h5{
    text-align: center;
}

.salary:hover{
    box-shadow: none;
    background-color: #323031;
    color: white;
}

/*the anchor that houses the salary div*/
.salary-link:hover{
    color: black;
    text-decoration: none;
}

.salary-link{
    height: 170px;
    color: black;
}

/*employee name*/
.name{
    font-size: 30px;
}

/*the contract box*/
.news{
    margin-top: 20px;
    height: 150px;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px;
    padding: 10px;
}

.card{
    margin-top: 20px;
}

.card li:hover{
    background-color: rgb(176, 176, 176);
}

.card a{
    text-decoration: none;
    color: black;
}

.card a:hover{
    text-decoration: none;
    color: black;
}

