body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

table{
    border-collapse: collapse;
}
table, th, td{
    border: 1px solid rgb(111, 133, 215);
}

th, td{
    padding: 4px 8px;
}

th {
    background-color: rgb(111, 133, 215);
}

.floatingtable{
    float: left;
    padding: 8px;
}