body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #34659a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

select, input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid rgb(130, 130, 130);
}

th {
    background-color: #34659a;
    color: white;
}

tr:nth-child(even) {
    background-color: #dedede;
}

tr:nth-child(odd) {
    background-color: #f4f4f4;
}

button, .view-members-btn, #addMemberBtn {
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 2px;
    color: #fff;
    background-color: #34659a;
}